[submodule "premium"]
	path = premium
	url = https://github.com/MeetFloo-AI-assistant/MeetFloo-premium.git
[submodule "MeetFloo-api"]
	path = MeetFloo-api
	url = https://github.com/evinjohnn/MeetFloo-api.git
